body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

.container {
    background: #1e293b;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

input { width: 100%; margin-top: 10px; padding: 10px; border-radius: 5px; border: none; }

button { margin:5px 0; padding:10px; border:none; border-radius:5px; cursor:pointer; font-weight:bold; }

table { width:100%; margin-top:10px; border-collapse: collapse; }
th, td { border:1px solid #ccc; padding:5px; text-align:center; }

.light-mode {
    background:#f8fafc; color:#0f172a;
}
.light-mode .container { background:#e2e8f0; color:#0f172a; }
