body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #020617;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#message {
    margin-top: 10px;
    font-size: 14px;
}
